<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ben.gank">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".GankApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/WebTheme"
            android:label="@string/sort"
            android:name=".activity.SortActivity"/>
        <activity
            android:label="@string/action_settings"
            android:theme="@style/WebTheme"
            android:name=".activity.SettingActivity"/>
        <activity
            android:launchMode="singleTop"
            android:theme="@style/WebTheme"
            android:name=".activity.WebActivity"/>
        <activity
            android:theme="@style/ViewerTheme"
            android:name=".activity.ImageActivity"/>
    </application>

</manifest>
